body{
    font-family: Arial, sans-serif;
    background:#cee2ff;
}

.container{
    width:400px;
    margin:50px auto;
    background:rgb(250, 198, 198);
    padding:20px;
    border-radius:10px;
}

input{
    width:70%;
    padding:10px;
}

button{
    padding:10px;
}

li{
    margin-top:10px;
}